body {
  cursor: url("/cursor1.png"), auto;
}
.container {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.status,
.message {
  color: black;
}

.retry-button {
  background: #000;
  color: white;
  width: auto;
  height: auto;
  border-radius: 30px;
  padding: 15px 25px;
  margin-top: 30px;
}
